/*
.first-color { 
	blue-dark:  #155263; 
}
	
.second-color { 
	dark orange: #ff6f3c; 
}

.third-color { 
	light orange: #ff9a3c; 
}

.fourth-color { 
	yellow: #ffc93c; 
}

gray: #eeeeee;
dark gray: #636060;
*/

body{
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; 
    background-color: #eeeeee;
}

*{
    margin: 0;
    box-sizing: border-box;
}

.ext-hdr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffc93c;
    overflow: hidden;
}

.header {
    width: 100%;
    background-color: #155263;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
}

.lnk{
    padding-left: 30px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-right: 30px;
    color: #ffc93c;
}

.lnk:hover{
    background-color: #ffc93c;
    color: #155263;
}

.biz {
    height: 9em;
    width: 150px;
    background-color: #ffc93c;
    margin-right: 25px;
}

.biz:hover{
    opacity: .8;
}

.logo{
    height: 85px;
    width: 85px;
    background-color: #ffc93c;
    border-radius: 50%;
    margin: 25px;
    padding: 7px;
    border: 2px solid #ffc93c;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.right{
    left: -25px;
}

.newLink{
    height: 85px;
    background-color: #ffc93c;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: inherit;
    width: 100%;
    font-size: 24px;
}

.newLink:hover{
    background-color: #155263;
    color:  #ffc93c;
}

.logo:hover{
    opacity: .5;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 3px solid yellow;*/
}

.feed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    /*border: 1px solid red;*/
    margin: 2%;
}

/*.filler {*/
/*    width: 25%;*/
/*}*/
/*.contacts {*/
/*    width: 30%;*/
/*}*/

.search {
    display: flex;
    width: 95%;
    margin: 3%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ff9a3c;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 5px 10px #155263;
}
.search:hover {
    background-color: #ffc93c;
}

h5 {
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; 
    margin-top: 4%;
    font-size:40px;
    color: #155263;
    margin-left: 4%;
}

h6{
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; 
    font-size: 14px;
    color: #00204a;
    margin-left: 10px;
    margin-top: 10px;
}

.search-bar{
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; 
    border-radius: 10px;
    border: none;
    width: 90%;
    padding-left: 10px;
    margin: 4%;
    position: relative;
    background-color: #eeeeee;
    font-size: 20px;
    padding: 8px;
    font-weight: bold;
    color: #636060;
    box-shadow: 3px 4px #155263;
}

.add-neighbors{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 5%;
    background-color: #155263;
    border-radius: 10px;
    max-width: 800px;
}

.usr-profile {
    display: flex;
    width: 25%;
    margin: 4%;
    flex-direction: column;
}

.format {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.brief-desc {
    background-color: #eeeeee;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.add-btn {
    margin: 5%;
    width: 80%;
    background-color: #ff9a3c;;
    color: #155263;
    border: none;
    border-radius: 10px;
    padding: 4%;
    text-decoration: none;
    box-shadow: 3px 4px #155263;
}

.add-btn:hover {
    cursor: pointer;
    background-color: #ffc93c; 
}


.post {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin-top: 30px;
}

.post-header {
    background-color: #155263;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
    
@media only screen and (max-width: 960){
    .post-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: #155263;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (min-width: 960px){
    .post-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: #155263;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        align-items: center;
    }
}


.post-image {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    padding: 5px;
    margin: 8px;
    border:2px solid #ff9a3c;
}


#bars {
    color: #ff9a3c;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #155263;
}

.header a{
    height: 9em;
}

.time-stamp{
    margin: 8px;
    padding: 8px;
    background-color: #ffc93c;
    color: #155263;
}

.post-info{
    display: flex;
}

.post-info p{
    color: #ffc93c;
    margin-top: 15px;
}

.post-body{
    display: flex;
    background-color: #ff6f3c;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    flex-direction: column;
}

.post-p{
    margin: 25px;
    padding: 25px;
    background-color: #ffc93c;
    color: #155263;
    box-shadow: 5px 10px #155263;
}

.post-img {
    border: 10px solid #ff6f3c;
    border-radius: 15px;
}

.activity{
    background-color: #ff9a3c;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 10px #155263;
}

.large-welcome{
    max-width: 100%;
    border: 10px solid #ff9a3c;
}

.mission{
    text-align: center;
    max-width: 1200px;
    margin: 50px;
    padding: 25px;
    font-size: 26px;
    background-color: #ff9a3c;
    color: #155263;
    box-shadow: 6px 12px #155263;
}

br {
    display: block;
    margin-bottom: 1.5em;
}

.b-txt{
    font-size: 45px;
    font-weight: bolder;
}

.footer{
    height: 95px;
    width: 100%;
    background-color: #155263;
}

.footer p{
    color: #eeeeee;
}